@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
    /*font-family: 'Hind', sans-serif;
    font-family: 'Gothic A1', sans-serif;*/
/* reset */
*{margin:0px; padding:0px; box-sizing:border-box; outline:none;}
img{border:none;}
a{text-decoration:none;}
ul,ol,li{list-style:none;}
html,body{overflow-x:hidden;}

/* .pop */
.popup{
  background:rgba(255,255,255,.85);
  position:fixed;
  width:100%; height:100%;
  z-index:999999;
}
.pop{
  width:565px; height:170px;
  position:absolute;
  left:50%; top:50%;
  margin-left:-282.5px;
  margin-top:-50px;
  text-align:center;
}
.pop h2, .pop h4{
  color:#222;
  margin-bottom:10px;
}
.pop .pop_bt{
  width:120px; height:60px;
  margin:30px 0px;
  background:#b80618;
  border-radius:10%;
  border:0px;
  outline:0px;
  color:#fff;
  font-weight:bold;
  font-size:1.1em;
  }

/* .sec */
.sec{
  width:100%; height:100%;
  margin-bottom:50px;
  padding-top:100px;}

/* .mainbanner */
#slider-main{padding-top:100px;}

/* .menubox */
.menubox{
  width:1200px; height:538px;
  margin:10px auto;
  position:relative;}
  .menubox .txtbox{
    width:50%; height:100%;
    position:relative; top:0px; left:0px;
  }
    .menubox .txtbox .tit{
      text-align: right;
      position:absolute;
      right:50px; top:120px;
      width:150px;
      height:125px;
    }
    .menubox .tit h1{
      font-size:2.25em;
      position:absolute;
      top:0px; right:0px;
    }
    .menubox .tit h1:nth-child(2){top:40px;}
    .menubox .tit h3{
      font-size:2em;
      position:absolute;
      left:0px; bottom:-5px
    }
    .menubox .tit img{
      display:block;
      width:30px; height:auto;
      position:absolute;
      bottom:10px; right:0px;
    }
    .menubox .txtbox .txt{
      width:210px; height:46px;
      position:absolute;
      top:270px; right:50px;
    }
    .menubox .txtbox .txt p{
      font-size:18px;
      text-align:right;
    }
    .menubox .txtbox .bt{
      border:2px solid #b80719;
      width:130px; height:40px;
      position:absolute;
      top:350px; right:50px;
      cursor:pointer;
    }
    .menubox .txtbox .bt:hover{background:#b80719;}
      .menubox .txtbox .bt a{
        display:block;
        color:#222;
        font-size:16px;
        text-align:center;
        line-height: 40px;
      }
      .menubox .txtbox .bt:hover a{
        color:#fff;
       font-weight:bold;}
  .menubox .imgbox{
    width:50%; height:100%;
    position:absolute; top:0px; left:50%;}
    .menubox .imgbox .img{
      width:460px; height:442px;
      margin-left:50px;
      margin-top:40px;
      background:url(../img/main/menu.png) no-repeat;
      background-size:100%;
      background-position:center;
    }

/* .academy */
.academy{
  width:100%; height:500px;
  background:url(../img/main/academy.jpg) center no-repeat;
  background-size:100%;
}
  .academy a{
    display:block;
    width:100%; height:100%;
    z-index:9;
    background:rgba(0,0,0,.5);
  }

  .academy .txtbox{
    width:500px; height:80%;
    background:rgba(2,2,2,.3);
    margin:0px auto;
    position:relative; top:10%;
  }
    .academy .txtbox .ani_box {
      background: transparent;
      outline: none !important;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
    }
    .academy .ani_line {
      width: 100%;
      height: 100%;
      padding: 0;
      border: none;
      background: rgba(255, 255, 255, 0);
      }
      .academy .ani_line > span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        font-weight:bold;
      }
  .academy .ani_line:before, .ani_line:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #fff;
    transition: all 0.3s ease;
  }
  .academy .ani_line:before {
    height: 50%;
    width: 2px;
  }
  .academy .ani_line:after {
    width: 20%;
    height: 2px;
  }
  .academy .ani_line:hover:before {height: 100%;}
  .academy .ani_line:hover:after {width: 100%;}
    .academy .ani_line > span:before,
    .academy .ani_line > span:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      background: #fff;
      transition: all 0.3s ease;
    }
    .academy .ani_line > span:before {
      width: 2px;
      height: 50%;
    }
    .academy .ani_line > span:after {
      width: 20%;
      height: 2px;
    }
  .academy .ani_line > span:hover:before {height: 100%;}
  .academy .ani_line > span:hover:after {width: 100%;}
  .academy h2{
    width:295px;
    text-align:center;
    font-size:2.25em;
    color:#fff;
    position:absolute;
    top:60px; left:50%;
    margin-left:-147.5px;
  }
  .academy .pbox{
    width:485px;
    text-align:center;
    color:#ebebeb;
    font-size:1.3em;
    position:absolute;
    bottom:100px; left:50%;
    margin-left:-242.5px;
  }
    .academy .pbox p{padding-bottom:20px;}
    .academy .pbox p:last-child{padding-bottom:0px;}
/* .card */
.card{
  width:1200px; height:190px;
  margin:0px auto;
  position:relative;
  top:45px; left:0px;
}
  .card .membership,
  .card .gift{
    width:47%; height:100%;
    background:#2c2a29;
  }
  .card .membership{
    margin-left:10px;
    position:relative;
  }
  .card .gift{
    position:absolute;
    top:0px; right:10px;
  }
  .card >div >a{
    display:block;
    width:100%; height:100%;
    z-index:99;
    }
  .card .txt{
    width:100%; height:100%;
    position:relative;
    top:0; left:0;
  }
    .card .txt h2{
      color:#fff;
      position:absolute;
      top:50px; left:20px;
    }
    .card .txt p{
      color:#ebebeb;
      position:absolute;
      top:90px; left:25px;
    }
      .card .txt p span{display:block}
      .card .txt p span.br{display:inline;}
  .card img{
    position:absolute;
    right:30px;
    bottom:0px;
  }
/* .event */
.event{width:100%; margin-top:100px; margin-bottom:50px;}
  .event h2{
    width:280px;
    margin:0px auto;
    text-align:center;
    font-size:1.8em;}
  .event .line{
    width:100px; height:2px;
    background:#b80719;
    margin:10px auto;
  }
  .event p{
    text-align:center;
    margin-top:20px;
    font-size:1.2em;
    color:#6f6f6f;
  }
  .event .eventbox{
    width:90%; height:570px;
    margin:50px auto 0px auto;
    position:relative;
  }
    .event .eventbox .img{
      display:block;
      width:24%; height:45%;
      float:left;
      cursor:pointer;
      margin-right:1%;
      margin-top:1%;
      background:url(../img/main/event1.jpg) center no-repeat;
      background-size:100%;
      }
      .event .eventbox .img1,
      .event .eventbox .img2,
      .event .eventbox .img3,
      .event .eventbox .img4{
        margin-top:0%;
      }
      .event .eventbox .img:nth-child(4n){
        margin-right:0.5%;
      }
      .event .eventbox .img1,
      .event .eventbox .img5{margin-left:.5%;}
    .event .eventbox .img2{
      background:url(../img/main/event2.jpg) center no-repeat;
      background-size:100%;
    }
    .event .eventbox .img3{
      background:url(../img/main/event3.jpg) center no-repeat;
      background-size:100%;
    }
    .event .eventbox .img4{
      background:url(../img/main/event4.jpg) center no-repeat;
      background-size:100%;
    }
    .event .eventbox .img5{
      background:url(../img/main/event5.png) center no-repeat;
      background-size:100%;
    }
    .event .eventbox .img6{
      background:url(../img/main/event6.png) center no-repeat;
      background-size:100%;
    }
    .event .eventbox .img7{
      background:url(../img/main/event7.png) center no-repeat;
      background-size:100%;
    }
    .event .eventbox .img8{
      background:url(../img/main/event8.png) center no-repeat;
      background-size:100%;
    }
    .event .eventbox .img a{
      display:block;
      width:100%; height:100%;
    }

      @media screen and (min-width:1200px){
      }
      @media screen and (max-width:1199px){
        .sec,
        .menubox,
        .academy,
        .card,
        .event,
        .event .eventbox{width:100%;}
        .card{left:0px;}
      }
      @media screen and (max-width:1130px){
      /* .menubox */
        .menubox .imgbox .img{margin-left:0px;}
        .menubox .txtbox .tit,
        .menubox .txtbox .txt,
        .menubox .txtbox .bt{right:100px;}
      /* .academy */
        .academy{background-size:cover;}
      }
      @media screen and (max-width:1024px){
        /* .card */
        .card .txt p{font-size:14px;}
        .card img{right:15px;}
      }
      @media screen and (max-width:990px){
      /* .menubox */
        .menubox .imgbox .img{margin-left:0px;}
        .menubox .txtbox .tit,
        .menubox .txtbox .txt,
        .menubox .txtbox .bt{right:100px;}
      }
      @media screen and (max-width:920px){
      /* .menubox */
      .menubox .imgbox{padding-right:10px;}
        .menubox .imgbox .img{
          width:100%;
          background-size:cover;
        }
      /* .academy */
      .academy .ani_line:before{
        height: 100%;
        width: 2px;
      }
      .academy .ani_line:after {
        width: 100%;
        height:2px;
      }
      .academy .ani_line > span:before{
        height: 100%;
        width: 2px;
      }
      .academy .ani_line > span:after {
        width: 100%;
        height:2px;
      }
      /* .card */
      .card .membership,
      .card .gift{
        background:#ebebeb;}
      .card .txt{background:rgba(2,2,2,.6);
        z-index:99;
        opacity:0;
        }
        .card .txt h2{
          position:static;
          left:0px; top:0px;
          padding-top:50px;
          text-align:center;
        }
        .card .txt p{
          position:static;
          left:0px; top:0px;
          padding-top:20px;
          text-align:center;
        }
      .card img{right:50%; margin-right:-85px;}

      /* event */
      .event .eventbox .img{
        width:32%; height:50%;
        margin-top:0.5%;
        background-size:cover;

        }
        .event .eventbox .img1,
        .event .eventbox .img2,
        .event .eventbox .img3{
          margin-top:0%;
        }
        .event .eventbox .img4{margin-top:1%;}
        .event .eventbox .img:nth-child(4n){
          margin-right:1%;
        }
        .event .eventbox .img:nth-child(3n){
          margin-right:0.5%;
        }
        .event .eventbox .img1,
        .event .eventbox .img4{margin-left:1%;}
        .event .eventbox .img7,
        .event .eventbox .img8{display:none;}
      }
      @media screen and (max-width:880px){
      }
      @media screen and (max-width:768px){
        /* .menubox */
          .menubox .txtbox,
          .menubox .imgbox{width:100%;}
          .menubox .txtbox{
            background:rgba(255,255,255,.5);
            z-index:99;
          }
            .menubox .txtbox .tit,
            .menubox .txtbox .txt,
            .menubox .txtbox .bt{left:50%;}
            .menubox .txtbox .tit{margin-left:-75px;}
              .menubox .tit h1{right:18px;}
            .menubox .txtbox .txt{
              margin-left:-105px;
              text-align:center;}
            .menubox .txtbox .bt{margin-left:-65px;}
          .menubox .imgbox{
            left:0;
            padding-right:0px;
          }
            /* event */
            .event{height:1300px;}
            .event .eventbox{height:900px;}
            .event .eventbox .img{
              width:48%; height:31.5%;
              margin-top:0.5%;
              }
              .event .eventbox .img1,
              .event .eventbox .img2{margin-top:0%;}
              .event .eventbox .img3{margin-top:1%;}
              .event .eventbox .img:nth-child(3n){
                margin-right:1%;
              }
              .event .eventbox .img:nth-child(2n){
                margin-right:0.5%;
              }
              .event .eventbox .img4{margin-left:0%;}
              .event .eventbox .img1,
              .event .eventbox .img:nth-child(2n+1){margin-left:1.5%;}
            .event .eventbox .img7,
            .event .eventbox .img8{display:block;}
      }
      @media screen and (max-width:650px){
        .pop h2 .br:nth-child(2){display:block;}
        /* .academy */
        .academy .txtbox{width:90%;}
        .academy h2{font-size:2.1em;}
        .academy .pbox{font-size:1.2em;}
      }
      @media screen and (max-width:500px){
        /* .academy */
        .academy .txtbox{
          width:100%;
          height:100%;
          top:0;}
          .academy h2{
            font-size:1.8em;
            top:80px;
          }
          .academy .pbox{
            width:380px;
            margin-left:-190px;
            font-size:1em;
            bottom:150px;
          }
        /* .card */
          .card .txt p{padding-top:30px;}
          .card .txt p span{display:none;}
          .card .txt p span.br{display:block;}

      }
      @media screen and (max-width:445px){
        /* .card */
        .card .txt p span.br{display:block;}
      }
      @media screen and (max-width:380px){
        .pop h2 .br{display:block;}
        .academy .pbox{
          width:320px;
          margin-left:-160px;
        }
        .academy .pbox p span{
          display:block;
          padding-top:20px;
        }
        /* .card */
        .card{height:390px;}
        .card .membership,
        .card .gift{
          width: 90%;
          height:190px;
        }
        .card .membership{margin-left:5%;}
        .card .gift{top:200px; right:5%;}
        /* event */
        .event{height:1050px;}
        .event .eventbox{height:900px;}
        .event .eventbox .img{
          width:48%; height:25%;
          margin-top:0.5%;
          }
      }
      @media screen and (max-width:320px){
        .pop h4 .br{display:block;}
      }
